body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}


.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #28a745 !important;
}

h2 {
    color: #28a745;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #28a745;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary {
    background-color: #00ff00;
    border-color: #00ff33;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}
