    /* login.HTML */

body {  font-family: Arial, sans-serif; 
        background-color: #f4f4f4; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100vh;
        background-image: url(Fr_Ve.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
        
        input {  margin-bottom: 10px;
                 padding: 10px; 
                 width: 95%;
                 border-radius: 8px;
                }

        button {padding: 10px;
                width: 100%;
                background-color: #28a745; 
                color: white; 
                border: none; 
                border-radius: 8px; 
                border: 20px;
            }
        
        .login-container {
                width: 420px;
                background: transparent;
                border: 2px solid rgba(255, 255, 255, .2);
                backdrop-filter: blur(20px); 
                box-shadow: 0 0 10px rgba(0, 0, 0,.2);
                color: rgb(255, 255, 255);
                border-radius: 10px;
                padding: 30px 40px;
        }